name: Kestra CI/CD
on: [push]
jobs:
  validate_and_deploy:
    runs-on: self-hosted
    name: Kestra validate and deploy
    steps:
      - uses: actions/checkout/@v3
      - name: Print working directory
        run : pwd
      - name: List files
        run: ls -R
      # - name: Validate all flows
      #   uses: kestra-io/validate-action@develop
      #   with:
      #     resource: flow
      #     directory: ./flows
      - name: Deploy flows
        uses: kestra-io/deploy-action@v0.16.0
        with:
          namespace: demo
          resource: flow
          directory: ./flows
          server: kestra:8080
